h2#title The Quartz Job Tracker

p The United States has conducted detailed counts where Americans work since the 1930's (TKTK). Due to frequent changes in how businesses are categorized, much of this data is difficult to compare. However, a subset of industries can be directly compared going back to the 1980's or even further. Quartz has crunched the numbers to create this comprehensive browser of all the comparable data for American industries.

label(for='#picker') Search for an industry:
select#picker

ul#examples
    li
        a(href="javascript:;", data-naics="541512") Computer Systems Design Services
    li
        a(href="javascript:;", data-naics="713110") Amusement and Theme Parks

h3#chart-title #
    span.naics 541512
    span  -  
    span.description "Computer Systems Design Services"

div#chart

div#footnote  Exact years available will vary by industry. Some industries may have other gaps due to small sample sizes or other survey issues.
